doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD' crossorigin='anonymous')
    title Document
style.
    header {
        background: #0F2361;
        }
        .knopka_reg {
        background: #16377F;
        padding: 10px;
        border-radius: none;
        filter: drop-shadow(0px 4px 23px rgba(255, 255, 255, 0.12)) !important;
        }
        body{
        background: #0F2361;
        }
        .SGH h1{
        color: white;
        font-size: 60px;
        }
        .cddisk{
        right: 0;
        }
        .carto4ki{
        color: white;
        }
        .card{
        --bs-card-bg: none;
        --bs-card-border-color: none;
        }
        .BigKrest{
        bottom: 0px;
        right: 200px;
        width: 45%;
        }
        .pikachu{
        right: 0;
        }
        .product{
            padding-left: 100px;
        }
header
    nav.navbar.navbar-expand-lg.px-5.shadow.mb-5.rounded(data-bs-theme='dark')
        .container-fluid
            a(href='index')
                img(src='img/logo.png' alt='')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo03' aria-controls='navbarTogglerDemo03' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarTogglerDemo03.collapse.navbar-collapse.justify-content-evenly
                ul.navbar-nav.mb-2.mb-lg-0.mx-auto
                    li.nav-item.mx-3
                        a.nav-link.fs-3.text-white(href='index') О нас
                    li.nav-item.mx-3
                        a.nav-link.fs-3.text-white(href='index') Товары
                    li.nav-item.mx-3
                        a.nav-link.fs-3.text-white(href='index') Тарифы
                .ms-auto
                img.grib(src='img/grib.png' alt='')
.container
    .row
        .col-lg-6.col-12
            img.imf-fluid(src='img/PS4slim_product.png' alt='')
        .col-lg-6.col-12.d-flex.flex-column.justify-content-evenly.product
            .d-flex.flex-column.SGH
                h1 PS 4 slim
                .p.text-white.fs-5 <b> Мощная стационарная игровая </b> 
                    .fs-6  консоль 8-го поколения от Sony, совмещающая в себе игровые и мультимедиа функции. 
                .p.text-white.fs-5 <b> Огромное количество платформенных </b> 
                    .fs-6 и эксклюзивных игр, уникальные сетевые режимы игры, бесподобная графика и множество других особенностей этого многофункционального домашнего развлекательного комплекса долгие годы будут радовать и впечатлять вас снова и снова! 
                .p.text-white.fs-5 <b> PlayStation 4 Slim </b> 
                    .fs-6 работает менее шумно, чем предыдущая модель, а также отличается более компактными размерами и сниженным весом, поэтому получила аббревиатуру Slim. <br> 
                .p.text-white.fs-5 <b> Откройте для себя </b> 
                    .fs-6 яркие, насыщенные цвета с потрясающей HDR-визуализацией. Управляйте и делитесь своими играми и приложениями с друзьями благодаря новому удобному интерфейсу. <br> 
            a(href='index')  
                button.btn.fs-3.text-white.knopka_reg.w-50 Забронировать
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js' integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN' crossorigin='anonymous')